@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

.mian-h {
  font-weight: 700 !important;
  /* font-size: 60px; */
  color: #f79917;
}

.main-box{
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

.inputContainer{
    min-height: 10rem;
    margin: 2rem 0;
    width: 60%;
    border-radius: 20px;

background: url(https://media.wired.com/photos/655ceb590511968169e157f8/master/pass/Temu-Betting-On-Black-Friday-Business-1383394254.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
backdrop-filter: blur(10px);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}



.form-control {
    border-radius: 100px;
    margin-right: 20px;
    /* background: rgba(255, 255, 255, 0.2); */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-control:focus{
    border-color: transparent;
    outline: 0;
    box-shadow: 0;
}

button {
    position: relative;
    margin: 0;
    padding: 17px 35px;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #f79917;
    border-radius: 10px;
    color: #f79917;
    font-weight: 400;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

  button span {
    color: #f79917;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
  }
  
  button:hover {
      animation: rotate624 0.7s ease-in-out both;
    }
    
    button:hover span {
    animation: storm1261 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
  
  @keyframes rotate624 {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    
    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    
    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }
  
    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }
    
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
}
  
@keyframes storm1261 {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
  
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
  
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
  
    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
  }
  
  .input-container{
    width: 100%;
    display: flex;
    justify-content: center;
  }

.inputbox{
    width: 85%;
    padding: 0px !important;
    margin: 0 !important;
    height: 100%;
    border-radius: 100px !important;
    display: flex;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

  .btn-shine {
    border: 1px solid;
    overflow: hidden;
    position: relative;
    width: 220px;
    padding: 0;
    margin: 20px 0 0 0px;
    height: 40px;
    border-radius: 100px !important;
    background: #f79917 !important;
  }
  
  .btn-shine span {
    z-index: 20;
    color: #ffffff;
  }
  
  .btn-shine:after {
    background: #ffffff !important;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
  
  .btn-shine:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: transparent !important;
    border: none;
  }


  /* DATA TABLE */
  .dataTables_wrapper{
    width: 100% !important;
    border-radius: 30px;
  }
  .dataTables_wrapper .dataTables_filter input {
    border: 1px solid #aaa;
    border-radius: 25px;
    padding: 5px 15px;
    background-color: transparent;
    margin-left: 3px;
  }
  .dataTables_wrapper .dataTables_filter input:active{
      border: none;
    }

.table-logo{
  width: 50px;
  border-radius: 100%;
}

.tableimg{
  width: 7%;
}

.form-control:focus {
  border-color: #f79917 !important;
}

table.dataTable.display tbody tr:hover>.sorting_1, table.dataTable.order-column.hover tbody tr:hover>.sorting_1 {
  background-color: #ffffff;
}
table.dataTable.display tbody tr.odd>.sorting_1,table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
  background-color: #ffffff;
}
.tabletitle{
  width: 60%;
}
.tableprice{
  width: 10%;
}
.tableaction{
  width: 23%;
}

thead th {
  text-align: center;
}

.price{
  width: 7rem;
}

.borderorange{
  border: 1px solid  #f79917;
}

tbody td {
  text-align: center;
  align-content: center;
}

.edit svg {
  color:#27e827;
  font-size: 1.3rem;
}
.edit{
  animation: none;
  cursor: pointer;
}
.edit p{
  /* font-size: 0.8rem; */
 cursor: no-drop;
}

.delete svg{
  color: #ff3a3a;
}

.view svg {
  color: #f79917;
}
.crudicon span{
  margin-left: -40px;
}

.crudicon{
  cursor: pointer;
  gap: 1.4rem;
}
  .crudicon svg{
    font-size: 1.4rem;
  }

.dataTables_info, .dataTables_length{
  display: none;
}

table.dataTable.no-footer{
  border-bottom: 1px solid #00000000;
}

.modal-header{
display: none !important;
}

.product-img{
  overflow-y: scroll;
  height: 80vh;
}

.product-img::-webkit-scrollbar {
  width: 0px;
}

.product-detail h1{
  font-size: 20px;
}

.modalbody{
  height: 70vh;
  overflow: hidden;
}

.alertproduct{
  max-width: 20rem !important;
  min-width: 10rem !important;
  margin: auto !important;
  text-align: center !important;
  margin-bottom: -1.1rem !important;
  gap: 7px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalcontainer{
  height: 100%;
}

/* custom table */
.table-info-ba{
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
}
.table-info-ba thead tr th{
  background-color: rgba(255, 255, 255, 1);
    padding: 12px 35px;
    border-radius: 10px;
    text-align: left;
    font-size: 13px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}
.table-info-ba tbody td{
  padding: 18px 30px;
  text-align: left;
  font-size: 14px;
  color: #5a5a5a
}
.table-info-ba .tableimg{ 
  width: 40px;
  border-radius: 10px;
}